Data Finansial Perbankan digunakan sebagai acuan latihan Data Engineer dan Data Science.

# **DISCLAIMER**

Sumber data yang diambil berasal dari [mockaroo.com](https://mockaroo.com/), sehingga tidak ada sangkut pautnya dan keabsahan data dari Bank tertentu.

Sehingga notebook ini asli dan terhindar dari penyalahgunaan data.

In [3]:
# Load dan import library terlebih dahulu
import pandas as pd
import numpy as np

In [4]:
# Set datasets

df_tabeldebet_hal1 = pd.read_csv('../datasets/bukukas_debet_hal1.csv')
df_tabeldebet_hal2 = pd.read_csv('../datasets/bukukas_debet_hal2.csv')
df_tabeldebet_hal3 = pd.read_csv('../datasets/bukukas_debet_hal3.csv')
df_tabeldebet_hal4 = pd.read_csv('../datasets/bukukas_debet_hal4.csv')
df_tabeldebet_hal5 = pd.read_csv('../datasets/bukukas_debet_hal5.csv')

df_tabelkredit_hal1 = pd.read_csv('../datasets/bukukas_kredit_hal1.csv')
df_tabelkredit_hal2 = pd.read_csv('../datasets/bukukas_kredit_hal2.csv')
df_tabelkredit_hal3 = pd.read_csv('../datasets/bukukas_kredit_hal3.csv')
df_tabelkredit_hal4 = pd.read_csv('../datasets/bukukas_kredit_hal4.csv')
df_tabelkredit_hal5 = pd.read_csv('../datasets/bukukas_kredit_hal5.csv')

In [7]:
df_tabeldebet_hal1.head()

,id,nomor_rekening,nama_lengkap,tanggal_transaksi,jumlah_debit,keterangan
0,1,3559055296435103,Cordy Jarrette,10/23/2024,522251.47,Special attachment for vacuum cleaners to remo...
1,2,5100138317093264,Dewey Smeaton,1/25/2025,812001.64,High-quality sketchbook for artists.
2,3,3556323508134960,Louisa Craig,7/5/2024,751745.15,Oatmeal made with savory spices and vegetables.
3,4,3554298664273202,Maighdiln McCurry,4/9/2025,807354.62,"Farm fresh eggs, essential for breakfast."
4,5,201805248223645,Annora Vickers,10/24/2024,460564.13,Portable solar shower for camping and outdoor ...